@import "./enabled/removeContextMenuBloat.css";

:root {
    /* Theme colors */
    /* Set me to your preferred color! */
    --theme: 44, 32, 31 !important;/*44, 32, 31 */

    --theme-primary: rgba(var(--theme), 0.79) !important;
    --theme-transparent: rgba(var(--theme), 0.50) !important;
    --theme-slight-transparent: rgba(var(--theme), 0.95) !important;
    --theme-opaque: rgba(var(--theme), 1) !important;
}

/* Make the main window completely transparent */
#main-window, body {
background-color: transparent !important;
appearance: win-glass !important;
}
/* Make navbar transparent */
#nav-bar, #TabsToolbar, #PersonalToolbar {
background-color: transparent !important;
background-image: none !important;
}
/* Apply theme */
#navigator-toolbox {
background-color: var(--theme-primary) !important; /*rgba(44, 32, 31, 0.79)*/
border: none !important;
}

/* Tab radius and background color */
#tabbrowser-tabpanels, #appcontent, browser, .browserContainer {
background-color: var(--theme-opaque) !important;
}
vbox.browserContainer {
    border-radius:  20px !important;
}

/* Selected Tab Background Color */
.tab-background[selected] {
    background-color: var(--theme-opaque) !important;
}
.tabbrowser-tab[selected = true] {
    filter: brightness(150%);
}
.tab-group-line[selected] {
    filter: brightness(70%) !important;
}

/* Rightclick menu themes  */
menupopup::part(content),
panel::part(content),
.popup-internal-box,
.menupopup-arrowscrollbox {
    background-color: var(--theme-slight-transparent)!important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 11px !important;
}

/* urlbar themes */
.urlbar, #searchbar {
    --urlbar-background-background-color-focused: var(--theme-slight-transparent) !important;
    border: none !important;
    border-radius: 11px !important;
}
.urlbar[open] {
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}


/* Edit Hamburger menu theme*/
.panel-subview-body {
    background-color: var(--theme-primary) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 8px
}
#appMenu-popup {
opacity: 0.95 !important;
}



